.orders-index-page,
.orders-show-page {
  .product-info {
    display: flex;
    flex-direction: row;
    .preview {
      img {
        max-width: 80px;
        max-height: 80px;
      }
      border: 1px solid $gray-300;
      margin-right: 5px;
    }
    .product-title {
      .sku-title {
        display: block;
      }
    }
    .sku-title {
      color: #9e9e9e;
    }
  }
}

.orders-index-page {
  .list-group-item {
    padding: 0;
    border: none;
    margin-bottom: 15px;
    .table {
      td[rowspan] {
        border-left: 1px solid $gray-300;
      }
    }
    .total-amount {
      font-weight: bold;
    }
  }
}

.orders-show-page {
  .item-amount {
    padding-right: 20px;
    width: 200px;
  }
  .order-info {
    border-right: 1px solid $gray-300;
  }
  .line {
    display: flex;
    flex-direction: row;
    .line-label {
      width: 100px;
      text-align: right;
    }
    .line-value {
      flex-shrink: 100;
    }
  }
  .total-amount {
    font-weight: bold;
    font-size: 20px;
  }
  .value {
    display: inline-block;
    width: 150px;
    padding-right: 20px;
  }
}
