.orders-index-page {
  .list-group-item {
    padding: 0;
    border: none;
    margin-bottom: 15px;
    .table {
      td[rowspan] {
        border-left: 1px solid $gray-300;
      }
    }
    .product-info {
      display: flex;
      flex-direction: row;
      .preview {
        img {
          max-width: 80px;
          max-height: 80px;
        }
        border: 1px solid $gray-300;
        margin-right: 5px;
      }
      .product-title {
        .sku-title {
          display: block;
        }
      }
      .sku-title {
        color: #9e9e9e;
      }
    }
    .total-amount {
      font-weight: bold;
    }
  }
}
