.products-index-page {
  .products-list {
    padding: 0 15px;
  }
  .product-item {
    padding: 0 5px;
    margin-bottom: 10px;
  }
  .product-content {
    border: 1px solid #eeeeee;
    .top {
      padding: 5px;
      img {
        width: 100%;
      }
      .price {
        margin-top: 5px;
        font-size: 20px;
        color: #ff0036;
        b {
          font-size: 14px;
        }
      }
      .title {
        margin-top: 10px;
        height: 64px;
        max-height: 64px;
        line-height: 32px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis; 
        a {
          font-size: 32px;
          line-height: 14px;
          color: #303030;
          text-decoration: none;
        }
      }
    }
    .bottom {
      font-size: 12px;
      display: flex;
      .sold_count span {
        color: #b57c5b;
        font-weight: bold;
      }
      .review_count span {
        color: #38b;
        font-weight: bold;
      }
      & > div {
        &:first-child {
          border-right: 1px solid #eee;
        }
        padding: 10px 5px;
        line-height: 12px;
        flex: 1 1 0;
        border-top: 1px solid #eee;
      }
    }
  }
}
