* {
  font-family: "Hiragino Sans GB", Helvetica, "Microsoft JhengHei", Arial, sans-serif;
}

html {
  position: relative;
  min-height: 100vh;
}

body {
  margin-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: $white;
  background-color: $black;

  a {
    color: inherit;
  }
}

// 頂部導覽列
.user-avatar {
  width: 30px;
  height: 30px;
  margin-right: 4px;
  border-radius: 100%;
}
