* {
  font-family: "Hiragino Sans GB", Helvetica, "Microsoft YaHei", Arial, sans-serif;
}

html {
  position: relative;
  min-height: 100vh;
}

body {
  margin-bottom: 60px;
  background-color: #f7f7f7;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: $white;
  background-color: $black;

  a {
    color: $navbar-dark-color;
    &:hover {
      color: $navbar-dark-hover-color;
      text-decoration: none;
    }
  }
}

// 頂部導覽列
nav.navbar {
  min-height: 64px;
}

.user-avatar {
  width: 30px;
  height: 30px;
  margin-right: 4px;
  border-radius: 100%;
}

// 訊息通知
#alert-block {
  .alert {
    @include shadow;
  }
}
