
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Mixin
@import 'mixin';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'layouts';
@import 'pages';
